body {
	min-height: 100vh;
}

nav {
	min-height: 100vh;
	width: 200px;
	float: left;
	background: #ddd;
	text-align: center;
}

nav img {
	width: 100%;
}

main {
	min-height: 100vh;
	width: calc(100vw - 200px);
	float: right;
	background: #fff;
}